body {
    background-color: #ffddcc;
}

header {
    background-color: beige;
    padding: 1px 0px 1px 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;

}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #ffddcc;
}

.container-navigation a{
    text-decoration: none;
    display: inline;
}

.type-button {
    
    align-items: center;
}
