body {
    background-color: #C2C7CF;
}

header {
    background-color: #ECCBA3;
    padding: 1px 0px 1px 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;

}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #ffddcc;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
    justify-content: flex-start;
}

h7 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: #ffddcc;
}


.container-navigation {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.type-button {
    position: relative;
    

}

.coding-button {
    position: relative;
    
}

.carp-button {
    position: relative;
    
}

.ux-button {
    position: relative;
    
}  

.type-body {
    background-color: whitesmoke;
}

.type-section1 {
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.type-section2 {
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.coding-section1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: large;
}

.coding-body {
    background-color: whitesmoke;
}

.coding-section2 {
    background-color: whitesmoke;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.coding-section3 {
    background-color: whitesmoke;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.coding-section4 {
    background-color: whitesmoke;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.carp-section1-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffddcc;
    font-size: 30px;
    font-style: oblique;
}

.carp-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.ux-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.ux-section1-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: oblique;
    background-color: #ffddcc;

}

.ux-section2-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: oblique;
    background-color: #ffddcc;
}

.ux-section3-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: oblique;
    background-color: #ffddcc;
}